@model IEnumerable<DATA.EF.Product>

@{
    ViewBag.Title = "Product Home";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TotalUnitsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipper.Name)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StockStatus.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @* Image Upload utility step 1 *@
            @*@Html.DisplayFor(modelItem => item.ProductImage)*@
            <img src="~/Content/assets/img/t_@item.ProductImage" alt="Product image" title="@item.ProductName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.TotalUnitsSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Category.Description)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Shipper.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StockStatus.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
