@model IEnumerable<DATA.EF.Product>

@{
    ViewBag.Title = "Products";
}

@*<h2>@ViewBag.Title</h2>*@


@*
    Implementing DataTables in MVC
    1) make sure your HTML table is well-formed (add the <thead> and <tbody> tags)
    2) <script> in the layout for datatables.js
    3) <link> in the layout for datatables.css
    4) <script> for the datatables function call (in the view - in @section scripts{})

*@

<div class="row-border panel-body panel-primary">
    <form method="get" action="~/Products/TableViewProducts" class="form-horizontal">
        @*
        Form methods:
        Post - form data is sent in the body of the HttpRequest
        - used typically when creating a record, or sending an email

        Get - form data is sent in the query string in key/value pairs
        - primarily used for searches/filters

        *@
        <span>
            @Html.ActionLink("Create New", "Create")
        </span>

        <div class="form-group">
            <div class="row py-4">
                <div class="col-sm-2 offset-sm-1 col-md-2 offset-md-1">
                    @Html.DropDownList("CategoryID", null, "Select a Category", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2 col-md-2">
                    @Html.DropDownList("StockStatusID", null, "Select a Status", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-2 col-md-2" style="line-height:2;">
                    <input class="border-0" type="text" name="searchFilter" placeholder="Search Products" />
                </div>
                <div class="col-sm-1 col-md-1 ml-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>

                <div class="offset-sm-2 col-md-2">
                    <a href="@Url.Action("Index","Products")" class="btn btn-success mt-3">Card View</a>
                </div>
                @*</div>*@

            </div>
        </div>
    </form>
</div>

<table class="table data-table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="width:400px;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockStatus.Description)
            </th>
        </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.ProductID)
            <tr>

                <td>
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID })"><img src="~/Content/assets/img/t_@item.ProductImage" alt="Product image" title="@item.ProductName" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.StockStatus.Description)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Products", new { id = item.ProductID })">
                        <i class="fa fa-pen-square" aria-hidden="true"></i>
                    </a> <br />
                    <a href="@Url.Action("Details", "Products", new { id = item.ProductID })">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a><br />
                    <a href="@Url.Action("Delete", "Products", new { id = item.ProductID })">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        } @*end foreach*@
    </tbody>

</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.data-table').DataTable();
        });
    </script>
}