@{
    ViewBag.Title = "Home";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" id="carousel-main">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"src="~/Content/assets/img/multiprod_ccexpress 2.png" alt="Multiple dogs sitting on and around multiple dog products inspired by the TV show Friends"/>
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success"><b>FRIENDS-4-PAWS</b></h1>
                            @*<h3 class="h2">ullamco laboris nisi ut </h3>*@
                            <p>
                              All products offered here are officially licensed by Warner Brothers and are for your pets.  The products offerered currently are mostly for dogs, but check back as we are trying to expand to accommodate other pets.
                                <br /> <a href="@Url.Action("Index","Products")">Shop Now </a>or scroll down to see the products we offer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">

                        <img class="img-fluid" src="~/Content/assets/img/Carousel dog with treat jar.png" alt="Brown dog sitting beside a white dog treat jar with a green lid and has the Central Perk logo printed on it" />
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>FRIENDS-4-PAWS</b></h1>
                            <p>
                                We are there for you to share your love of the Friends TV show with your furry friends!  Check out the varity of products we offer.  Check back often as we continue to all new products! 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">

                        @*<img class="img-fluid" src="~/Content/assets/img/dog iwth purple frame_ccexpress.png" alt="Black dog siting next to *@
                        <img class="img-fluid" src="~/Content/assets/img/Dog_with_pivot_couch.png" alt="Black dog siting next to a
                        plush dog toy that is a replica of the iconic orange sofa from Friends with the word PIVOT on it" />
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>FRIENDS-4-PAWS</b></h1>
                            <p>
                                This is the place where you can let your pup join in on the Central Perk fun with iconic Friends TV show-inspired products just for them!  All products are officially licensed by Warner Brothers, so you can be sure they are the "real deal".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">

                        <img class="img-fluid" src="~/Content/assets/img/dog on napperbed__ccexpress 2.png" alt="Brown dog laying on a black napped bed that contains iconic Friends logos" />
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>FRIENDS-4-PAWS</b></h1>
                            <p>
                                We are very passionate and dedicated to find the best products for your favorite furry friends.  We are very dedicated to showcase the Friends TV show personalities and one-liners and are continuously looking out for new products to add to our store.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- end banner hero -->
<!-- start product categories -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Product Offerings</h1>
            <p>
                Check out the multiple categories of products we have to offer below.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3 catContainer">
            <img src="~/Content/assets/img/Category - All light bg.jpg" class="rounded-circle border catImage text-center">
            <div class="catMiddle">
                <a class="catText" href="@Url.Action("Index", "Products")">Shop All</a>
            </div>
        </div>

        <div class="col-12 col-md-4 p-5 mt-3 catContainer">
            <img src="~/Content/assets/img/Category - Beds light bg.jpg" class="rounded-circle img-fluid border catImage" />
            <div class="catMiddle">
                    <a class="catText" href="@Url.Action("Index", "Products", new { categoryId="5"})">Beds</a>
            </div>
        </div>

        <div class="col-12 col-md-4 p-5 mt-3 catContainer">
                <img src="~/Content/assets/img/Category - Leashes light bg.jpg" class="rounded-circle img-fluid border catImage" />
            <div class="catMiddle">
                    <a class="catText" href="@Url.Action("Index", "Products", new { categoryId="3"})">Leashes & Collars</a>
                </div>
            </div>

        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3 catContainer">
                <img src="~/Content/assets/img/Category - Apparel light bg.jpg" class="rounded-circle img-fluid border catImage">
                <div class="catMiddle">
                    <a class="catText" href="@Url.Action("Index", "Products", new { categoryId="2"})">Apparel</a>
                </div>
            </div>

            <div class="col-12 col-md-4 p-5 mt-3 catContainer">
                <img src="~/Content/assets/img/Category - Mealtime light bg.jpg" class="rounded-circle img-fluid border catImage" />
                <div class="catMiddle">
                    <a class="catText" href="@Url.Action("Index", "Products", new { categoryId="4"})">Mealtime</a>
                </div>
            </div>

            <div class="col-12 col-md-4 p-5 mt-3 catContainer">
                    <img src="~/Content/assets/img/Category - Playtime light bg.jpg" class="rounded-circle img-fluid border catImage" />
                    <div class="catMiddle">
                        <a class="catText" href="@Url.Action("Index", "Products", new { categoryId="1"})">Playtime</a>
                    </div>
            </div>

        </div>

    </div>

</section>
