@model IEnumerable<DATA.EF.Category>

@{
    ViewBag.Title = "Categories";
}

<h2 class="offset-md-3 col-md-6 text-center">@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="offset-md-3 col-md-2 pb-3">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </div>
    <table class="table data-table table-striped offset-md-3 col-md-6" id="CategoriesTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="Category-@item.CategoryID">
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a href="" class="DetailsLink btn btn-primary" id="@item.CategoryID">Details</a>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    <div id="CategoryDetails"></div>
}
@section scripts{
    <script>
        //******** AJAX Details *********//
        $('a.DetailsLink').click(function (e) {
            e.preventDefault(); //this prevents the default behavior of the page reloaded after clicking <a>

            //target pop-up placeholder div, pass it data (this clicked items id)
            //then apply jQueryUI dialog plugin to make it a pop-up w/ some settings
            //open CategoryDetails partial view in the pop-up for the correct category
            $("#CategoryDetails").data('cId', $(this).attr('id'))
                .dialog({
                    width: 400,
                    height: 225,
                    open: function () {
                        var catID = $(this).data('cId');
                        $(this).load("/Categories/CategoryDetails/" + catID);
                        $(this).closest(".ui-dialog")
                            .find(".ui-dialog-titlebar-close")
                            .removeClass("ui-dialog-titlebar-close")
                            .removeClass("ui-widget-header")
                            .html("<span class='ui-button-icon-primary ui-icon ui-icon-closethick'></span>");

                    },
                    title: "Category Details",
                    modal: true,
                    resizable: false

                })
        });//end details click event

    </script>
    <script>
        $(document).ready(function () {
            $('.data-table').DataTable();
        });
    </script>
}